body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
a:hover {
  /* opacity: 0.6; */
  transition: 0.5s;
  color: rgb(202, 133, 4);
}
.brandDiv {
  height: 150px;
}
.logoImage {
  width: 100vw;
  height: 100%;
}

.displayDiv img {
  width: 100%;
  border-radius: 5px;
}

.navDiv {
  display: flex;
  background-color: #101010;
  flex-direction: column;
}
.navDiv img {
  width: 75%;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 1em;
}
.navDiv ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
.navDiv ul li {
  margin-right: 0.9em;
}

@media (max-width: 320px) {
  .navDiv img {
    width: 100%;
  }
  .navDiv {
    font-size: small;
  }
}
