body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
a:hover {
  /* opacity: 0.6; */
  transition: 0.5s;
  color: rgba(198, 123, 4, 0.986);
}
.brandDiv {
  height: 150px;
}
.logoImage {
  width: 100vw;
  height: 100%;
}
.displayDiv {
  display: flex;
  margin-top: 0.5em;
}
.displayDiv img {
  width: 100%;
  margin: auto;
  border-radius: 5px;
}
.aboutDiv {
  display: flex;
  padding: 1em;

  text-align: center;
  flex-direction: column;
  background-color: #101010;
  /* margin-top: 1em; */
  font-size: 14px;
}
.aboutDiv a {
  color: rgba(198, 123, 4, 0.986);
}
.aboutDiv img {
  width: 50%;
  margin: auto;
  border-radius: 2%;
}
.navDiv {
  display: flex;
  background-color: #101010;
  flex-direction: column;
  border-bottom: solid 2px black;
}
.navDiv img {
  width: 75%;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 1em;
}
.navDiv ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
.navDiv ul li {
  margin-right: 0.9em;
}
.spotlightDiv {
  display: flex;
  padding: 1em;
  text-align: start;
  flex-direction: column;

  background-color: #101010;
}
.hoverDiv {
  background-color: #101010;
  transition: 0.5s;
  margin: auto;
  margin-top: 1em;
  width: 100%;
}
.hoverDiv li {
  cursor: pointer;
}
.hoverDiv li:hover {
  transition: 0.5s;
  text-decoration: underline;
}
.menuDiv {
  display: flex;
  background-color: #101010;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menuDiv ul li {
  cursor: pointer;
  list-style: none;
  margin: 10px;
}
.menuDiv ul li:hover {
  text-decoration: underline;
}
.menuItem {
  width: 90%;
  margin: auto;
  background-color: #101010;
  border-top: 2px solid black;
  border-radius: 10px;
}
.sideMenu {
  display: flex;
  border-bottom: 2px solid black;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.sideMenu span {
  margin: 10px;
}
.menuItemsDiv {
  display: flex;
  text-align: center;

  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;

  /* flex-direction: column; */
}
.appetizersDiv {
  text-align: center;
  /* justify-content: center; */
  /* display: flex; */
  background-color: #101010;
  padding: 1em;
}
.columnDiv {
  display: flex;
}

.halfWidthDiv {
  flex-basis: 50%;
}
.foodItem {
  border: 1px solid #3c3c3c;
  min-height: 120px;

  /* border-radius: 5px; */
}

@media (max-width: 320px) {
  .navDiv {
    font-size: 14px;
  }
  .columnDiv {
    display: flex;
    flex-direction: column;
  }
  .displayDiv img {
    width: 100%;
    border-radius: 5px;
  }
  .spotlightDiv {
    text-align: center;

    background-color: #101010;
  }
  .hoverDiv {
    display: none;
  }
}
@media (min-width: 768px) {
  .navDiv img {
    width: 100%;
  }
  .navDiv {
    font-size: small;
  }

  .displayDiv img {
    width: 40%;
    border-radius: 5px;
  }

  .logoImage {
    width: 50%;
  }

  .aboutDiv img {
    width: 25%;
    margin: auto;
    border-radius: 2%;
  }
}
@media (min-width: 768px) {
  .aboutDiv img {
    width: 300px;
    height: 400px;
  }
  .aboutDiv p {
    max-width: 900px;
    margin: auto;
    margin-top: 1em;
  }
}
